img {
  margin: 200px auto 0;
  display: block;
}


.globo {
  position: absolute;
  bottom: 1em;
}

body {
  background-color: #B7DFED;
  background-image: url(../images/cerro.png), url(../images/volcan.png), url(../images/nubes.png);
	background-repeat: no-repeat, no-repeat, repeat;
	background-attachment: fixed;
	background-position: left bottom, left bottom;
}

